.testimonials {
	padding-top: 2rem;

	&__image {
		display: block;
	}

	&__right {
		margin-left: 3rem;
	}

	&__quote {
		font-size: 22px;
		line-height: 2;
		margin: 0;
	}

	&__source {
		font-style: normal;
		margin-top: 2rem;
		line-height: 1.3;
	}

	&__name {
		font-size: 1.3rem;
	}

	&__position {
		font-size: 1.1rem;
	}
}