$black: #414141;
$white: #ffffff;
$palewhite: #6C6C6C;
$bluish-white: #F6FAFD;
$pink: #FE4FA7;

$transparent-white: rgba(255, 255, 255, 0.24);
$gradient-background: linear-gradient(to right, #FE985B, #FE4FA7);
$overlay-color: transparentize(#142729, 0.53);

$separator-color: #E2E2E2;
$border-color: #979797;
$border-radius--4: 4px;
$border-radius--8: 8px;