.color--white {
	color: $white;
}

.color--black {
	color: $black;
}

.color--palewhite {
	color: $palewhite;
}

.color--pink {
	color: $pink;
}

.bg--white {
	background: $white;
}

.bg--gradient {
	background: $gradient-background;
}

.bg--bw {
	background: $bluish-white;
}