.flex--center-y {
	display: flex;
	align-items: center;
}

.flex--stretch {
	display: flex;
	align-items: stretch;
}

.flex--center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex--center-sb {
	display: flex;
	align-items: center;
	justify-content: space-between;
}